    <script src="js/index.js" defer></script>
    <!-- <script src="js/replybot.js" defer></script> -->
    <script rel="preconnect" src="https://kit.fontawesome.com/acd4da4d53.js" defer crossorigin="anonymous"></script>
</body>

</html>