<%- include('../../partials/header') %>

<main class="container nav-adjust">
    <section class="contact-form">
        <h1>Message Sent</h1>
        <p>Thanks for reaching out. Your message has been submitted successfully.</p>
        <p>I’ll review it as soon as possible.</p>

        <div class="button-row">
            <a class="link-btn" href="/contact">Send Another Message</a>
            <a class="link-btn" href="/">Return Home</a>
        </div>
    </section>
</main>

<%- include('../../partials/footer') %>