<%- include('../partials/dashboard/header') %>

<main class="canned-response">
    <aside class="side-bar nav-adjust">
        <ul class="category">
            <li><a href="/responses">Canned Response</a></li>
            <li><a href="/tickets/new">New Ticket</a></li>
            <li><a href="/tickets/my-tickets">My Tickets</a></li>
            <li><a href="/register/list">Users</a></li>
        </ul>
        <div>
            <img class="logo" src="/images/logo-dark.png" width="113" height="113" alt="ReplyBot logo image">
            <p>©2026. Replybot</p>
        </div>
    </aside>

    <div class="nav-adjust">
        <div class="content-container">
            <div class="content-nav">
                <a href="/dashboard"><i class="fa-solid fa-house"></i></a>