<%- include('partials/dashboard/header') %>

    <!-- main -->
    <main class="canned-response">
        <aside class="side-bar nav-adjust">
            <ul class="category">
                <li id="intro">Intro</li>
                <li id="outro">Outro</li>
                <li id="inactive">Inactive</li>
                <li id="survey">Survey</li>
                <li id="sympathy">Sympathy</li>
                <li id="email">Email Templates</li>
            </ul>
            <img class="logo" src="images/logo-dark.png" width="113" height="113" alt="ReplyBot logo image">
        </aside>
        <div class="nav-adjust">
            <div class="content-container">
                <button id="show-favorites">Show Favorites</button>
                <div class="content">
                    <!-- canned responses go here -->
                </div>
            </div>
        </div>
    </main>

<%- include('partials/dashboard/footer') %>
