    <footer>
        <div class="container">
            <img class="logo" src="images/logo-blue.png" loading="lazy" width="150" height="150"
                alt="Blue ReplyBot logo">
            <ul class="links">
                <li>Useful Links</li>
                <li>
                    <a href="/dashboard" target="_blank" title="Navigate to your Dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/sport-team" target="_blank"
                        title="sport team icons">Sport team icons
                        created by
                        Freepik - Flaticon</a>
                </li>
                <li>
                    <a href="https://www.helpscout.com/blog/customer-service-phrases/" target="_blank"
                        title="Help scout website idea">12
                        Customer Service Phrases to Use (+ 8 You Should Avoid)</a>
                </li>
            </ul>
            <ul class="contact">
                <li>Contact Me</li>
                <li>
                    <a href="tel:+12345678910" title="Not a real phone number">+1 (234) 567 8910</a>
                </li>
                <li>
                    <a href="mailto:ola23018@byui.edu" title="Copy my BYUI email">ola23018@byui.edu</a>
                </li>
            </ul>
            <ul class="socials">
                <li>Socials</li>
                <li>
                    <a href="https://github.com/enockola" target="_blank" 
                        title="Enoch's Github">Github</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/enoch-olayemi/" target="_blank"
                        title="Enoch's LinkedIn">LinkedIn</a>
                </li>
            </ul>
            <ul class="copyright">
                <li>© 2026 Enoch Olayemi's Express Application. All rights reserved to me. Thank you!</li>
            </ul>
        </div>
    </footer>
    <script src="js/index.js" defer></script>
    <script rel="preconnect" src="https://kit.fontawesome.com/acd4da4d53.js" defer crossorigin="anonymous"></script>
</body>

</html>