<%- include('../partials/header') %>

<main class="container nav-adjust">
    <h1> Access Denied</h1>
    
    <p>You do not have access to the page you are trying to access</p>
    
    <p>Return to the <a href="/">homepage</a> to continue browsing.</p>
</main>


<%- include('../partials/footer') %>
